<!DOCTYPE html>
<html>
<head>
<title>探针报表查询</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap th:href="@{/css/bootstrap.css}"-->
<!-- href="../resource/bootstrap-3.3.7-dist/css/bootstrap.min.css" -->

<script type="text/javascript" charset="utf-8" src="common/includeBootstrap.js"></script>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/r23/html5.js"></script>
    <![endif]-->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
 <script src="https://cdn.bootcss.com/html5shiv/3.7/html5shiv.min.js"></script>
 <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	
}
</style>
</head>
<body>

	<div class="panel-body" style="padding-bottom: 0px;">
		<div class="panel panel-default">
			<div class="panel-heading">查询条件--<font style="color: red">按CRTL+F5，强制刷新去除以输入参数,导出所有时，请输入查询条件后再点击导出</font></div>
			<div class="form-inline" style="padding: 5px;">
				<!-- <form class="form-inline"> --><!-- form-horizontal -->
					<div class="form-group">
						<label for="exampleInputName2">路由器ID</label> 
						<input type="number"
							class="form-control" id="routeid"
							placeholder="2517699">
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<label for="exampleInputEmail2">路由器MAC</label> <input type="text"
							class="form-control" id="routemac"
							placeholder="B2:1A:58:14">
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<label for="exampleInputEmail2">模式</label> <input type="text"
							class="form-control" id="modelnumber"
							placeholder="EDUP_2655">
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<label for="exampleInputEmail2">路由器版本</label> <input type="text"
							class="form-control" id="routeversion"
							placeholder="1.27.4">
					</div>
					&nbsp;&nbsp;
					<div class="form-group">
						<label for="exampleInputEmail2">svc版本</label> <input type="text"
							class="form-control" id="svnversion"
							placeholder="15393">
					</div>
					&nbsp;&nbsp;
					<br/>
					<br/>
					<div class="form-group">
						<label for="log_upload_time_start">日志上传时间 &nbsp;&nbsp;起 </label>
						<div class="input-group date form_datetime" data-date-format="yyyy-mm-dd" data-link-field="log_upload_time_start">
		                    <input class="form-control" size="20" type="text" value="" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		                </div>
						<input type="hidden" id="log_upload_time_start" value="" /><br/>
					</div>
					
					<div class="form-group">
						<label for="log_upload_time_end">止 </label> 
						<div class="input-group date form_datetime" data-date-format="yyyy-mm-dd" data-link-field="log_upload_time_end">
		                    <input class="form-control" size="20" type="text" value="" readonly>
		                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		                </div>
						<input type="hidden" id="log_upload_time_end" value="" /><br/>
					</div>
					<div class="form-group">
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-primary" id="searchBut">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
						&nbsp;&nbsp;
						<a id="exportBtn" class="export-excel btn btn-warning" data-table="#countTable">导出当前页面</a>  
						
						&nbsp;&nbsp;
						<a id="exportAllBtn" class="export-excel btn btn-danger" data-table="#countTable">按查询条件导出所有</a>
						
						<!-- <div class="alert alert-danger" style="display: inline;" role="alert">请先选中时间再导出</div> -->
					</div>
					
				<!-- </form> -->
			</div>
		</div>


		<table id="probetable">

		</table>
</body>
<script type="text/javascript">
$('.form_datetime').datetimepicker({
    language:  'zh-CN',
    weekStart: 7,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 2,
	forceParse: 0,
    showMeridian: 1,
    minView: "month",
    format: "yyyy-mm-dd"
});
	var probetable = $('#probetable');
	
	probetable.bootstrapTable({
		url : 'probe/list', //请求后台的URL（*）
		method : 'post', //请求方式（*）
		dataType : "json",
		toolbar : '#toolbar', //工具按钮用哪个容器
		striped : true, //是否显示行间隔色
		cache : false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		pagination : true, //是否显示分页（*）
		sortable : false, //是否启用排序
		sortOrder : "asc", //排序方式
		queryParams : function(params) {
			//alert(JSON.stringify(params));
			//alert($("#log_upload_time_end").val());
			var temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
				pageSize : params.pageSize, //页面大小
				pageNum : params.pageNumber,
				search : params.search,
				routeid:$("#routeid").val(),
				routemac:$("#routemac").val(),
				modelnumber:$("#modelnumber").val(),
				routeversion:$("#routeversion").val(),
				svnversion:$("#svnversion").val(),
				log_upload_time_end:$("#log_upload_time_end").val(),
				log_upload_time_start:$("#log_upload_time_start").val()
			};
			return temp;
		},//传递参数（*）
		sidePagination : "server", //分页方式：client客户端分页，server服务端分页（*）
		pageNumber : 1, //初始化加载第一页，默认第一页
		pageSize : 13, //每页的记录行数（*）
		pageList : [ 20, 30, 50, 100 ], //可供选择的每页的行数（*）
		search : false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
		strictSearch : true,
		showColumns : true, //是否显示所有的列
		showRefresh : true, //是否显示刷新按钮
		minimumCountColumns : 2, //最少允许的列数
		clickToSelect : true, //是否启用点击选中行
		//height : '', //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
		//uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
		showToggle : true, //是否显示详细视图和列表视图的切换按钮
		cardView : false, //是否显示详细视图
		detailView : false, //是否显示父子表
		showExport: true,                     //是否显示导出
		exportTypes:['excel'],
        //exportDataType: "all", 
        Icons:'glyphicon-export',
		columns : [ {
			checkbox : false
		}, {
			field : 'routeid',
			title : '路由器ID'
		}, {
			field : 'routemac',
			title : '路由器MAC'
		}, {
			field : 'modelnumber',
			title : '模式'
		}, {
			field : 'routeversion',
			title : '路由器版本'
		}, {
			field : 'svnversion',
			title : 'svc版本'
		}, {
			field : 'log_upload_time',
			title : '日志上传时间'
		}, {
			field : 'log_upload_sys_time',
			title : '日志上传系统时间'
		}, {
			field : 'mac',
			title : '连接设备MAC '
		}, {
			field : 'signal_strength',
			title : '信号强度'
		}, ]
		 /**onLoadSuccess: function (data) { //加载成功时执行
             console.log(data);
         },
         onLoadError: function (res) { //加载失败时执行
             console.log(res);
         }**/
	});
	
	$('#searchBut').click(function () {
		var abc=$("#routemac").val();
		probetable.bootstrapTable('selectPage', 1);
	});
	
	$('#exportBtn').click(function () {
		//alert(probetable.queryParams);
		/*alert(encodeURIComponent(location.href.split('#')[0]));*/
		//window.location.href = 'probe/exp'; 
		exportData();
	});
	
	$('#exportAllBtn').click(function () {
		//alert(probetable.queryParams);
		/*alert(encodeURIComponent(location.href.split('#')[0]));*/
		//window.location.href = 'probe/exp'; 
		exportAllBtn();
	});
	
	
	function exportData(){
        //导出数据
        $('#probetable').tableExport({
            type: 'excel', 
            exportDataType: "all",
            escape: 'false',
            ignoreColumn: [0,12],  //忽略某一列的索引  
            fileName: '探针报表',  //文件名称设置  
            worksheetName: 'sheet1',  //表格工作区名称  
            tableName: '探针数据'//,
            //onMsoNumberFormat: doOnMsoNumberFormat,
            //onCellHtmlData: DoOnCellHtmlData,
        });
	}
	
	function exportAllBtn(){
		var timeend=$("#log_upload_time_end").val();
		var timestart=$("#log_upload_time_start").val();
		if(timeend==''||timestart==''){
			alert('请选择时间然后再导出');
		}else{
			window.location.href="probe/exp?routeid="+$("#routeid").val()+"&routemac="+$("#routemac").val()+"&modelnumber="+$("#modelnumber").val()+"&routeversion="+$("#routeversion").val()
			+"&svnversion="+$("#svnversion").val()+"&log_upload_time_end="+$("#log_upload_time_end").val()+"&log_upload_time_start="+$("#log_upload_time_start").val();
		}
	}

</script>
</html>